@font-face {
    font-family: Outfit;
    src: url(Outfit-VariableFont_wght.ttf);
}

body {
    background-color: #d6e2f0;
}

main {
    width: 20rem;
    margin: 10rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px lightgray;
}

.image {
    width: 90%;
    margin: 1rem auto;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.text {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

.text h1 {
    font-size: 1.3rem;
    font-weight: 700;
}

.text p {
    font-size: 0.9rem;
    font-weight: 400;
    color: gray;
}